<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangkuai_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{197,133},{55,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangkuai_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{133,230},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heimei_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{197,190},{55,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heimei_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{151,230},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{202,1},{55,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{169,230},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongtao_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{202,58},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongtao_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{202,115},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{103,1},{64,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kueen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{103,67},{64,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,130}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_dipai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,130}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,133},{100,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ranker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{133,133},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f89fcb342bb31e361a0316415212fb62:4bf3e4609efc0aaacaae5429f45cf7b4:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
