<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackjack/BLACK JACK_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{250,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{732,792},{250,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,188}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{210,612},{206,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,190}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,610},{206,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,194}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{210,416},{206,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,196}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,214},{206,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,196}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,412},{206,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{422,414},{206,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{424,210},{206,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{214,212},{206,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,204}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{634,2},{206,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,206}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{424,2},{208,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{236,104}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{626,792},{236,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{214,2},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{634,208},{208,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{210,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{838,626},{210,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,176}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{842,2},{206,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{838,418},{206,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{838,210},{206,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackjack/BLACK JACK_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{418,616},{206,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,184}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{630,606},{206,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackjack/BLACK JACK_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,186}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{630,418},{206,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{816,990},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{286,802},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{154,802},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{2,802},{146,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bust/BUST_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{816,838},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{418,800},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{2,952},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{154,952},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{306,952},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bust/BUST_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{458,952},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fx_animation.png</string>
            <key>size</key>
            <string>{1020,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49dc968fb7117c6b1af71431080ae47d:a113de2d2eeced5b25528e59da25f277:d42d1a5023d9d2f80ee1865ee2123c11$</string>
            <key>textureFileName</key>
            <string>fx_animation.png</string>
        </dict>
    </dict>
</plist>
