<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BLACK JACK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,80}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{250,80}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,896},{204,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{204,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{204,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,32},{204,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{204,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{204,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,360},{204,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{204,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,516},{204,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{204,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,204},{204,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{204,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,314},{204,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{204,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{204,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{204,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,156},{204,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{204,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{206,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{206,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{234,102}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,77},{234,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,106},{206,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{206,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{208,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{208,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{206,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{206,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{208,152}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{208,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,410},{204,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{204,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,204},{204,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,38},{204,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,556},{204,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{204,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,404},{204,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{204,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,712},{204,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{204,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BLACK JACK_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,896},{204,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,34},{204,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>BUST_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{100,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,898},{128,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,768},{128,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{128,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,920},{144,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,736},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,586},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,616},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,738},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,890},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BUST_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,768},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_animation.png</string>
            <key>size</key>
            <string>{1010,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2694fad3f595dc8c23da95a516a7e0:a113de2d2eeced5b25528e59da25f277:d42d1a5023d9d2f80ee1865ee2123c11$</string>
            <key>textureFileName</key>
            <string>fx_animation.png</string>
        </dict>
    </dict>
</plist>
