<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Stroke_photo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{814,436},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stroke_photo_oneself.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,135}</string>
                <key>spriteSourceSize</key>
                <string>{136,135}</string>
                <key>textureRect</key>
                <string>{{458,125},{136,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rankinglist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,144}</string>
                <key>spriteSourceSize</key>
                <string>{504,144}</string>
                <key>textureRect</key>
                <string>{{668,1},{504,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xiamian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,122}</string>
                <key>spriteSourceSize</key>
                <string>{665,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{665,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_jjc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,160}</string>
                <key>spriteSourceSize</key>
                <string>{433,160}</string>
                <key>textureRect</key>
                <string>{{814,1},{433,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ksks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,155}</string>
                <key>spriteSourceSize</key>
                <string>{433,155}</string>
                <key>textureRect</key>
                <string>{{23,125},{433,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_zbc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,155}</string>
                <key>spriteSourceSize</key>
                <string>{432,155}</string>
                <key>textureRect</key>
                <string>{{23,282},{432,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{458,262},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,2}</string>
                <key>spriteSourceSize</key>
                <string>{20,2}</string>
                <key>textureRect</key>
                <string>{{1,507},{20,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_guizhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{393,439},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{332,439},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankinglist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{596,195},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankinglist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{590,263},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankinglist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{590,331},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankinglist_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{958,436},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankinglist_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{202,439},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{574,399},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,439},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{888,436},{69,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user-image4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{596,125},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{68,439},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{135,439},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-image7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{457,394},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1007,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e92be00fcee3eb4d1540428a31b75b76:2cc58e86e6351f767afb30cc3422d141:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
