<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{1,189},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{1,123},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{87,173},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{87,123},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{59,257},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1,257},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{73,205},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{73,189},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>shared.png</string>
            <key>size</key>
            <string>{122,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9c78f7d55fde9a631ae2a07fa03c98:ec948474819d2640ef1c00cb7862d508:2c95ddc0e53977c10ce48c8c98b5618b$</string>
            <key>textureFileName</key>
            <string>shared.png</string>
        </dict>
    </dict>
</plist>
