<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{356,1407},{48,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{464,1098},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{464,1017},{39,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{464,1058},{38,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Stroke_photo_tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{221,921},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baopai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,37}</string>
                <key>spriteSourceSize</key>
                <string>{82,37}</string>
                <key>textureRect</key>
                <string>{{248,1324},{82,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{349,1017},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gold(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{328,1224},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gold_touzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{141,103}</string>
                <key>textureRect</key>
                <string>{{143,1221},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gold_zhuozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{271,1457},{91,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_huaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,91}</string>
                <key>textureRect</key>
                <string>{{328,1131},{84,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_inputbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,269}</string>
                <key>spriteSourceSize</key>
                <string>{179,269}</string>
                <key>textureRect</key>
                <string>{{1,531},{179,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,1363},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_stroke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,78}</string>
                <key>spriteSourceSize</key>
                <string>{141,78}</string>
                <key>textureRect</key>
                <string>{{248,1181},{141,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,185}</string>
                <key>spriteSourceSize</key>
                <string>{192,185}</string>
                <key>textureRect</key>
                <string>{{1,1034},{192,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xitongxiaoxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,62}</string>
                <key>spriteSourceSize</key>
                <string>{99,62}</string>
                <key>textureRect</key>
                <string>{{407,663},{99,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,96}</string>
                <key>spriteSourceSize</key>
                <string>{240,96}</string>
                <key>textureRect</key>
                <string>{{182,531},{240,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_erji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,66}</string>
                <key>spriteSourceSize</key>
                <string>{201,66}</string>
                <key>textureRect</key>
                <string>{{336,284},{201,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_fasong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{221,773},{146,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{404,336},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,95}</string>
                <key>spriteSourceSize</key>
                <string>{240,95}</string>
                <key>textureRect</key>
                <string>{{411,1},{240,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daojishi_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,263}</string>
                <key>spriteSourceSize</key>
                <string>{333,263}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi_photo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,1221},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,263}</string>
                <key>spriteSourceSize</key>
                <string>{333,263}</string>
                <key>textureRect</key>
                <string>{{1,266},{333,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,73}</string>
                <key>spriteSourceSize</key>
                <string>{281,73}</string>
                <key>textureRect</key>
                <string>{{336,1},{281,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{448,727},{99,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,73}</string>
                <key>spriteSourceSize</key>
                <string>{65,73}</string>
                <key>textureRect</key>
                <string>{{412,1313},{65,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_kiss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,91}</string>
                <key>textureRect</key>
                <string>{{411,243},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{311,663},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{271,1363},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{97,54}</string>
                <key>textureRect</key>
                <string>{{414,1131},{97,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_KO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{412,1388},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{470,1130},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{470,1164},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{195,1181},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qingkongtouzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{404,440},{89,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_touzhu-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,218}</string>
                <key>spriteSourceSize</key>
                <string>{230,218}</string>
                <key>textureRect</key>
                <string>{{1,802},{230,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_usercp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{448,828},{55,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{413,1230},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,37}</string>
                <key>spriteSourceSize</key>
                <string>{54,37}</string>
                <key>textureRect</key>
                <string>{{336,487},{54,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{97,54}</string>
                <key>textureRect</key>
                <string>{{356,1308},{97,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,59}</string>
                <key>spriteSourceSize</key>
                <string>{101,59}</string>
                <key>textureRect</key>
                <string>{{443,531},{101,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txtCountdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,29}</string>
                <key>spriteSourceSize</key>
                <string>{218,29}</string>
                <key>textureRect</key>
                <string>{{280,531},{218,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user/circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{139,1364},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user/circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{195,1049},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user/circle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{311,531},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user/circle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{316,753},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user/circle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{349,885},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{507,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8405780d97c640e8ea87077bcdcd91f:94f4da1f81f94500509fefe236ae699d:9f125aa71c5c2418d32e9eacc87866c8$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
